.userNavigation{
    padding: 1rem 2rem;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.jobSearchInput {
    display: flex;
}

.alertSectionDiv {
    display: flex;
    justify-content: space-between;
}
.alertSectionDiv > div{
    margin: 0rem 1rem;
}

.accountUserImage img{
    width: 45px;
    height: 45px;
    border-radius: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-right: 10px;
}

.accountInfo{
    display: flex;
    align-items: center;
}


.notificationBadge {
    position: relative;
}

.notificationBadge span {
    position: absolute;
    background: red;
    width: auto;
    /* height: 20px; */
    top: -2rem;
    left: 33px;
    padding: 3px;
    color: #fff;
    border-radius: 50px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.jobSearchInput > div input{
    padding: 8px 16px;
    border: 1px solid #e5e5e5;
    outline: none;
    border-radius: 5px;
    margin: 0 13px;
}

.search-btn {
    padding: 8px 30px;
    background: #0073FF;
    outline: none;
    border: 1.3px solid #14a077;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 10px;
}

.navLinksDashboard ul {
    padding: 0;
    margin: 0;
}
.navLinksDashboard ul li a{
    color: #1d1c1c;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    background: transparent !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}


.dashboardSubmenuWrapper{
    position: absolute;
    background: #ffffff;
    z-index: 99;
    min-width: 200px;
    width: auto;
    left: 18rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    top: 3.8rem;
    animation: fadeIn .5s ease-in-out;
    border-radius: 10px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}


.dashboardSubmenuWrapper div li a{
    color: #1d1d1e;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
}
.dashboardSubmenuWrapper div li a:hover{
    color: #0073FF;
}

.profileDetails {
    position: absolute;
    background: #ffffff;
    z-index: 99;
    min-width: 25%;
    width: auto;
    right: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    top: 5.2rem;
    animation: fadeIn .5s ease-in-out;
    border-radius: 10px;
}

.profileinnerDiv {
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.userimage img{
    width: 80px;
    height:80px;
    border-radius: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.profileDropdownDetails {
    border-bottom: 2px solid #dbdbdb;

}

.profileDetailsWrapperDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 2px solid #dbdbdb; */
    padding: 1.2rem 0;
}

.profileDropdownDetails > div h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.profileDropdownDetails > div span {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #898989;
    font-weight: 600;
}

.btn-viewandUpdate {
    padding: 5px 0;
    outline: none;
    border: none;
    background: transparent;
    /* color: #9f9d9d; */
    color: #0073FF;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.btn-viewandUpdate:hover {
    color: #96c1f5;
    transition: all .3s ease;
}
.navLinksWrapper {
    padding: 10px;
}

.navLinksWrapper ul{
    padding: 0;
    margin: 0;
}
.navLinksWrapper ul{
    padding: 0;
    margin: 0;
}
.navLinksWrapper ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 8px;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #4d4d4d;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.navLinksWrapper ul li:hover {
    color: #0073FF;
}

.logoutDiv {
    padding: 8px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.btn-logout {
    /* padding: 8px; */
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #4d4d4d;
    font-weight: 500;
    cursor: pointer;
    outline:none;
    border: none;
    background: transparent;
}

.btn-logout:hover {
    color: #0073FF;
    transition: all .3s ease;
}

.notificationWrapper {
    position: absolute;
    background: #ffffff;
    z-index: 99;
    min-width: 20%;
    width: auto;
    right: 115px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    top: 5.2rem;
    animation: fadeIn .5s ease-in-out;
    border-radius: 10px;
}


.notificationinnerDiv {
    padding: 1rem;
}