.jobDetails {
    background: #f8f9fa;
    padding: 3rem 0;
}

.jobDetailsRow {
    justify-content: center;
}

.jobDetailsFirstCol {
    overflow: auto;
    height: 130rem;
    margin-top: 0rem;
    margin-bottom: 15px;
}

.jobDetailsFirstCol a {
    text-decoration: none;
}


.jobDetailsFirstCol::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}
  
  /* Track */
.jobDetailsFirstCol::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 1.5rem;
}
   
  /* Handle */
.jobDetailsFirstCol::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 5px;
}
  
  /* Handle on hover */
  .jobDetailsFirstCol::-webkit-scrollbar-thumb:hover {
    background: #555;
}




.JobSearchdataDiv {
    /* overflow: auto;
    height: 130rem; */
    margin-top: 0rem;
    margin-bottom: 15px;
}

.JobSearchdataDiv a {
    text-decoration: none;
}

/* 
.JobSearchdataDiv::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}
  
  /* Track */
.JobSearchdataDiv::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 1.5rem;
}
   
  /* Handle */
.JobSearchdataDiv::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 5px;
}
  
  /* Handle on hover */
  .JobSearchdataDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.jobdetailsCardWrapper {
    padding: 1.2rem;
    background: #ffffff;
    margin-top: 1rem;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
} */

.recentJobHeadding {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}
