.editProfileRow {
    padding: 2rem 0;
}


.EditProfileDetails {
    background: #F8F9FB;
}

.editProfileDetailsWrapper {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.editProfileImage  img {
    width: 80%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.profileInnerRowDiv > div h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
}

.profileInnerRowDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #c7c4c4;
}

.profileUpdatedStatus  span{
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: rgb(128, 128, 128);
}

.ProfileuserName {
    display: flex;
    align-items: baseline;

}

.job_designation span{
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.currentCompany span {
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #717171;
}

.personal_detailsWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.personal_detailMainDiv > div{
    margin: 10px 0;
}

.personal_detailMainDiv > div span{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    color: #717171;
    font-size: 15px;
}

.editProfileMainDiv {
    align-items: center;
}

.personalDetailsinnerDiv {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.personalDetailHeadding {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.personalDetailHeadding > div h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 660;
}

.personalDetailHeadding > div span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 13.5px;
    color: #575656;
}

.personalDetailsinnerWrapper {
    display: grid;
    margin: 1rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    grid-gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1.6px solid #EDEEEF;
}

.careerBreakDiv h6,
.addressdiv h6,
.Differently_abledDiv h6,
.personal__Info h6 {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #989898;
    font-weight: 600;
    margin-bottom: 5px;
}

.careerBreakDiv span,
.addressdiv span,
.Differently_abledDiv span,
.personal__Info span {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #474d6a;
    font-weight: 580;
    font-size: 13px;
    text-transform: capitalize;
}

.iconBackground {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 16px;
    display: flex;
    align-items: center;
    height: 45px;
    width: 45px;
}

.PersonalDetailsSecondDiv {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
}

.EmailDiv,
.birthDayDiv,
.WorkTypeDiv,
.SalaryExpDiv {
    display: flex;
    align-items: center;
}

.EmailDiv > div h6,
.birthDayDiv > div h6,
.WorkTypeDiv > div h6,
.SalaryExpDiv  > div h6{
    /* color: rgb(160, 160, 160); */
    margin-bottom: 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #474d6a;

}

.EmailDiv > div span,
.birthDayDiv > div span,
.WorkTypeDiv > div span,
.SalaryExpDiv  > div span{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #474d6a;
}

.ResumeDivWrapper {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    column-rule-color: #343434;
}

.ResumeDivWrapperHeaddingdiv  h5{
    margin-bottom: 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    color: #565656;
}

.ResumeIconDiv {
    padding: 10px;
    background: #ffffff;
    align-items: center;
    margin: 0 16px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 45px;
    width: 45px;
}

.resumeWrapperInnerDiv {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 1.1rem;
    cursor: pointer;
}

.resumeWrapperInnerDiv > div h5{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
}

.DeleteButton,.downloadIcon {
    padding: 10px;
    background: #ffffff;
    align-items: center;
    margin: 0 16px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 45px;
    width: 45px;
    color: #0073FF;
}

.DeleteandDownloadIcon {
    display: flex;
}

.ResumedivWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uploadResumeDiv {
    padding: 2rem;
    border: 2px dashed #ebebeb;
    border-radius: 10px;
    text-align: center;
    margin: 1.5rem;
}

.btn-uploadResume {
    padding: 10px 12px;
    color: #ffffff;
    background: #0073FF;
    outline: none;
    border: 1.1px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn-uploadResume:hover{
    color: #0073FF;
    background: transparent;
    transition: all .3s ease;
    border: 1.1px solid #0073FF;
}

.uploadResumeDiv > div span {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #c7c4c4;
    font-size: 13px;
    cursor: pointer;
}

.employmentDiv {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.employeeHeadding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employeeHeadding > div h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 660;
}
.employeeHeadding > div span{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 13.5px;
}

.companyImage img{
    width: 45px;
    height: 45px;
    margin-right: 1rem;
}

.employeementBody {
    padding: 1rem -1px;
}

.companyNameAndType h6{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    margin: 0;
}

.companyNameAndType {
    display: flex;
    align-items: center;
    margin-bottom: 6px;    
}

.companyNameAndType span {
    margin-left: 1.5rem;
    background: #f3f3f3;
    color: #7d7d7d;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.companyNameAndType {
    position: relative;
}


.experienceDivMain {
    display: flex;
    margin: 2rem 10px;
    border-bottom: 1px solid #dbdbdb;
}

.exp_rolesWrap{
    display: flex;
}

.Exp_Role > span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}
.job_startdate {
    margin-bottom: 10px;
}

.job_startdate > span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 11px;
}

.job_endDate > span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 11px;
}

.skills_div span{
    display: inline-flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.skills_div ul{
    display: flex;
    padding: 0;
}

.skills_div ul li{
    margin: 0 10px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #7d7d7d;
}

.notice_period h6 {
    font-weight: 500;
    margin: 10px 0;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.jobDescriptiondiv p {
    font-size: 13.5px;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.7;
    font-weight: 500;
    color: #464646;
}

/* .addressdiv */
.EducationDiv{
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.EducationinnerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EducationinnerDiv > div span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 13.5px;
    color: #7d7d7d;
}
.EducationinnerDiv > div h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 660;
}


.educationInnerWrapper {
    margin: 1rem 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.educationInnerWrapper > div h5 {
    margin: 0;
    margin-bottom: 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.educationInnerWrapper > div span {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #575656;
    font-size: 13.5px;
}

.edu_year span{
    font-weight: 500;
}

.edu_year span:last-child{
    margin: 0 1rem;
}

.skillsDivWrapper {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.skillsDivMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillsDivMain > div h6{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 660;
}
.skillsDivMain > div span{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #575656;
    font-size: 13.5px;
}

.skillMain {
    display: flex;
    justify-content: space-between;
}

.popupCloseIcon {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.skillMain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background: #f9f9f9;
    padding: 10px 11px;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.userProfileSkills {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1.7rem;
}


.languageDivWrapper {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;   
}

.languageDivMain {
    display: flex;
    justify-content: space-between;
}

.languageCardDiv {
    padding: 8px;
    background: #f9f9f9;
    border-radius: 10px;
    border: 1.3px dashed #888888;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin-top: 10px;
}

.languageInnerdiv {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.languageDetailsCard {
    margin-left: 8px;
}


.languageDetailsCard h6 {
    margin: 0;
    margin-bottom: 3px;
}

.languageDetailsCard > div span {
    color: #888888;
    font-size: 13px;
}

.languageDetailsCard .languageDivs span{
    margin: 2px;
    font-size: 10px;
}
/* 
.languageDivs{
    display: flex;
    /* justify-content: space-between; 

} */

.languageDivs ul{
    padding: 0;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}
.languageDivs ul li{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
}

.LanguageText h6 {
    margin: 0;
}

.proficiencyDiv span {
    font-size: 14px;
    font-weight: 600;
    color: #565656;
}

/* left section */
.resumeHeaddingWrapperDiv {
    background: #ffffff;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.resumeHeadlineDiv {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.resumeHeadlineDiv > div span {
    font-size: 13px;
    font-weight: 500;
}

.resumeHeadline span {
    line-height: 1.5;
    font-size: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    margin: 0 10px;
    color: #7d7d7d;
}


.profileSummeryDiv span {
    line-height: 1.3;
    font-size: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    margin: 0 10px;
    color: #7d7d7d;
}


.projectsDiv {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.projectsInnerDiv {
    margin-top: 1rem;
}


.languageCardDiv > div .image-responsive {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.projectsInnerDiv span{
    line-height: 1.3;
    font-size: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    margin: 0 10px;
    color: #6d6d6d;
}

.AccomplishmentsTxt{
    font-size: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #7d7d7d;
}

.AccomplishmentsDivInnerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #eaeaea;
}

.AccomplishmentsDivInnerDiv > div span {
    color: #0073FF;
    display: block;
    width: 70%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #7d7d7d;
}

.AccomplishmentsDivInnerDiv > div a {
    font-weight: 500;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #565656;
}
.AccomplishmentsDivInnerDiv > div h6 {
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #565656;
    font-size: 15px;
}

.CareerProfileDetails {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.CareerProfileDetailsContent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
    margin-top: 2rem;
}

.CareerProfileDetailsContent > div h6{
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    color: #363636;
}
.CareerProfileDetailsContent > div span{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #6d6d6d;
    text-transform: capitalize;
}

.profileScoreDetails {
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.profilescoreInner {
    margin-top: 2rem;
}

.profileScoreData{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #6f6f6f;
}

.profileDescription {
    margin-top: 1rem;
    background: #f1f1f1;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.profileDescription h6{
    font-size: 18px;
    color: #575656;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.profileDescription span{
    font-size: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #6f6f6f;
}


.skillRemoveBtn {
    outline: none;
    border: none;
    background: transparent;
}

.modal-content .SkillsModelBodyPopup {
    padding: 2rem;
}

.skillsHeaddingWrapper  h5{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 580;
}
.skillsHeaddingWrapper  span{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #6d6d6d;
}

.skillsContentData {
    margin: 2.8rem 1rem;
}

.skillsmainDiv {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top; 
}

.skillsmainDiv > div {
    margin-bottom: 20px;
}
    
.skillsmainDiv > div span{
    padding: 7px 10px;
    text-transform: capitalize;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    border: 1px solid #a0a0a0;
    margin: 10px 10px;
    border-radius: 20px;
    line-height: 3rem;
    background: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #666666;
}

.skillsInput {
    margin-bottom: 1.5rem;
}

.skillsInput > div {
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.skillsInput > div  input{
    width: 70%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.addSkillBtn {
    padding: 9px 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    outline: none;
    border: none;
    font-weight: 550;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.saveButtonWrapper {
    display: flex;
    justify-content: end;
}

.saveSkillBtn {
    padding: 9px 10px;
    outline: none;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    color: #ffffff;
    color: #ffffff;
    background: #0073FF;

}

.ErrorMsg {
   text-align: left;
   padding: 3px 20px;
   font-family: "Plus Jakarta Sans", sans-serif;
   font-weight: 500;
    font-size: 14px;
}


/* Langues */
.btn-removesLanguage {
    padding: 3px;
    outline: none;
    border: none;
    background: transparent;
}

.languageSelector > div  {
    margin: 40px 0px;
    justify-content: center;
}


.languagePopupCard {
    padding: 10px;
    background: #f9f9f9;
    margin: 5px;
    border-radius: 10px;
    border: 1.3px dashed #888888;
    font-family: "Plus Jakarta Sans", sans-serif;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
}

.removeBtnDiv {
    position: absolute;
    top: 4px;
    right: 0;
    background: #f2f0f0;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: 1px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.languageName span{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 600;
    font-size: 19px;
}

.proficiency span {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 500;
    font-size: 12px;
}

.languageRates {
    display: flex;
    justify-content: space-between;
}

.languageRates span {
    color: #363636;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 500;
    font-size: 13px;
}

.lanuageFrom #formLanguageName,
.lanuageFrom #formProficiencyLevel {
    width: 90%;
    margin: 18px auto;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.languageBtnWrapper {
    text-align: end;
}

.languageBtns {
    
    padding: 7px 10px;
    margin: 0 10px;
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    color: #ffffff;
    background: #0073FF;
}

.languageBtnsSave {
    padding: 7px 10px;
    margin: 0 10px;
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    color: #ffffff;
    background: #0073FF;
}

.checklistWrapper {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;

}

.formSelectorwrapper {
    background: #fdfdfd;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 550;
    
}

.selectSelectorDiv option{
    color: #2f2f2f;
    padding: 8px 16px;
    background: rgb(244, 244, 244);
    margin-bottom: 10px;
}

.errorMessage {
    text-align: start;
    margin: 0 2rem;
}

.errorMessage p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}


.personalDetailsModelHeadding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personalDetailsModelHeadding > div h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

#formCareerBreak,
#formAddress,
#formDifferentlyAbled,
#formGender,
#maritalStatus,
#formEmail,
#formBirthday,
#formWorkType,
#formSalaryExpectations{
    width: 100%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 16px;
}
#formEmail {
    text-transform: lowercase;
}

.personalDetailsMainform {
    margin: 1rem 10px;
    overflow: scroll;
    height: 55vh;
    overflow-x: hidden;
    padding: 1rem;
}

.personalDetailsMainform::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
.personalDetailsMainform::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.personalDetailsMainform::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 10px;
}
.personalDetailsMainform::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* border-radius: 10px; */
}


.PopupButtonWrapper {
    border-top: 1px solid #dcdcdc;
    margin: 10px;
    padding: 1rem;
    text-align: end;
}

.popupSaveBtn {
    padding: 6px 16px;
    border: 1px solid transparent;
    outline: none;
    margin: 0 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:500;
    text-transform: capitalize;
    border-radius: 5px;
    background: #0073FF;
    color: #fff;
}

.resumeuploadinnerWrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.resumeUploaderHeadding h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:500;
}

.mainResumeDiv {
    padding: 1.2rem 1rem;
    margin: 1.5rem 0;
}

.formLabelText {
    color: rgb(104, 104, 104);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:500;
    font-size: 16px;
    margin-bottom: 10px;
}


.forminputWrapper {
    width: 100%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* margin-bottom: 16px; */
}

.resumeButtons {
    display: flex;
    justify-content: end;
    border-top: 1px solid #e4e4e4;
    padding-top: 1rem;
}


.popupReplaceAndUploadBtn,.popupCloseButton,
.btn-ClearResume,.resumeContentUpdatebtn {
    padding: 6px 16px;
    border: 1px solid #0073FF;
    outline: none;
    margin: 0 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:500;
    text-transform: capitalize;
    border-radius: 5px;
    background: transparent;
    color: #0073FF;
}


.popupReplaceAndUploadBtn:hover,.popupCloseButton:hover,
.btn-ClearResume:hover{
    border: 1px solid transparent;
    background: #0073FF;
    color: #ffffff;
    transition: all .3s ease;
}

.ErrorText {
    color: red;
    margin-top: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    text-align: start;
    font-size: 14px;
}


#formHeadline {
    width: 100%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    resize: none;
    height: 30vh;
    line-height: 1.6;
    margin-top: 2rem;
}

.editProfileinnerDiv {
    padding: 10px;
}

.resumeContentUpdatebtn{
    background: #0073FF;
    color: #ffffff;
}

.editProfileheadding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.editDataInputInfo {
    margin-top: 2rem;
    border-top: 1.2px solid #ebeaea;
}

.labelNameField,
.labelEditemailAddress,
.labelCurrentCompany,
.labelExperienceYears,
.labelExperienceMonths,
.labelJobRole,
.labelEmail,
.labelCurrentSalary,
.lableTotalExp,
.labelWorkStatus,
.labelNoticePeriod,
.labelMobileNumber {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgb(118, 118, 118);
    text-transform: capitalize;
    margin: 10px 0 8px 0px;
}

.NameField,
.EditemailAddress,
.experienceYears, 
.experienceMonths, 
.noticePeriod,
.jobRole,
.currentCompanyinput,
.currentSalary,
.workStatus,
.mobileNumber {
    width: 100%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.editDataInputInfo {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    /* margin: 10px; */
    padding: 10px;
}


.editDataInputInfo::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
.editDataInputInfo::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 1rem;
    border-radius: 10px;
}
.editDataInputInfo::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 10px;
}
.editDataInputInfo::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* border-radius: 10px; */
}


.img-thumbnail {
    width: 80%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.editMainProfileimag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#profilePhotoUpload {
    background: #f3f3f3;
    outline: none;
    border: none;
    color: #787878;
    width: 100px;
}
#profilePhotoUpload:after {
    background: #f3f3f3;
    outline: none;
    border: none;
    color: #cfc9c9;

}
#profilePhotoUpload input {
    background: #783131;
    outline: none;
    border: none;
    color: #cfc9c9;
}

.educationDetails {
    display: flex;
    justify-content: space-between;
}

.educationInputm,
.UniversityInput,
.CourseInput,
.SpecializationInput,
.courseTypeInput,
.CourseDurationFromInput,
.CourseDurationToInput,
.GraduationInput,
.GradingSystemInput,
.MarksInput{
    width: 100%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.EducationDivCloseDiv {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.errorDiv p {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
}

.educationEditButtonWrapper {
    display: flex;
    justify-content: space-between;
}

.StillWorkingDiv {
    display: flex;
    flex-direction: column;
}

.EmployementDetailPopup {
    overflow: scroll;
    height: 80vh;
    overflow-x: hidden;
    margin: 1rem 0;
    padding: 1rem;
    border-top: 1px solid #dfdfdf;
}

.employmentDetailsHeaddingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}


.EmployementDetailPopup::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
.EmployementDetailPopup::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 2rem;
    border-radius: 10px;
}
.EmployementDetailPopup::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 10px;
}
.EmployementDetailPopup::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* border-radius: 10px; */
}

#employmentType,
#experienceYears,
#experienceMonths,
#currentCompanyName,
#currentJobTitle,
#endDateInput,
#currentSalary,
#EmpSkills,
#jobProfile,
#noticePeriod {
    width: 100%;
    padding: 9px 10px;
    outline: none;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-bottom-left-radius: 8px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;     
    
}

#EmpSkills{
    text-transform: capitalize;
}

#EmpSkills:focus {
    border-color:transparent !important;
}

#jobProfile {
    resize: none;
}

.employmentTypeLabel,
.experienceYearsLabel,
.experienceMonthsLabel,
.currentCompanyNameLabel,
.currentJobTitleLabel,
.joiningDateLabel,
.joiningDateLabel,
.endDateLabel,
.currentSalaryLabel,
.skillsLabel,
.jobProfileLabel,
.noticePeriodLabel {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgb(118, 118, 118);
    text-transform: capitalize;
    margin: 12px 0 9px 0px;
}

.JoinigDiv {
    display: flex;
    flex-direction: column;
}

.EndDateDiv > div {
    display: flex;
    flex-direction: column;
}

#stillWorking {
    margin-right:  1rem;
}

.StillWorkingDiv > label {
    margin: 1rem 0;
    font-family: "Plus Jakarta Sans", sans-serif;

}

.EmploymentDetailsPopupBtn {
    display: flex;
    justify-content: end;
}

.btn-SaveChanges {
    padding: 10px 16px;
    border: 1px solid #0073FF;
    outline: none;
    margin: 0 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:500;
    text-transform: capitalize;
    border-radius: 5px;
    background: #0073FF;
    color: #ffffff;
}

.currentJobTitle h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.actionButtons {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.btn_edit,
.btn_delete {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
    background: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.accomplishmentsHeadding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 5px;
}


.CareerProfilePopupDetails {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1rem;
}

