.ActivelyHiring {
    margin:5rem 0;
}

.ActivelyHiringHeadding {
    text-align: center;
    margin: 1rem 0;
}

.ActivelyHiringHeadding p{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #5e5e5ed6;
    font-family: "Montserrat", sans-serif;
}

.dropdownButtonWrappers {
    text-align: center;
    margin: 1rem 12rem;
}

.ActivelyHiringcard {
    margin: 1rem;
    height: 110vh;
    display: flex;
    margin-top: 1.5rem;
    padding: 1.6rem 1.2rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.companyLogoWrapper {
    text-align: center;
}

.companyLogo {
    width: 70px;
    text-align: center;
}

.companyReviewRating {
    padding: 1rem;
    background: #fff9f2;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    color: #212121;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.companyReviewRating > div h6 {
    font-family: "Nunito Sans", sans-serif;
}
.staricon {
    width: 20px;
}

.starRatingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starRatingWrapper > div span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.dropdownBtns{
    background:  #fff;
    border: 1px solid 979EC2;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 15px;
    margin-right: 8px;
    margin-bottom: 12px;
    display: inline-block;
    color: #474D6A;
    cursor: pointer;
    outline: none;
    border: 1px solid #474D6A;
    margin-top: 10px;
}

.dropdownBtns.active {
    background:  #fff;
    border: 1px solid #5a73f4;
    background: #5a73f4;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 12px;
    margin-right: 8px;
    margin-bottom: 12px;
    display: inline-block;
    /* color: #5370ff; */
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.companyDescription {
    font-family: "Montserrat", sans-serif;
    color: #575757;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    margin: 1rem auto;
}

.companyDescription p {
    text-align: start;
}

.companyServicesTag {
    text-align: center;
}

.companyServicesTag .CompanyTags {
    padding: 4px 8px;
    margin-right: 8px;
    border: 1px solid #636364;
    border-radius: 50px;
    font-weight: 500;
    font-size: 11px;
    line-height: 35px;
    color: #474D6A;

}

.viewJobsDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-viewJobs {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-family: "Plus Jakarta Sans", sans-serif;
    
}

.btn-viewJobs:hover {
    background: #6075df;
    color: white;
    transition: all .3s ease-out;
}

.activlyHiringMapMainDiv a {
    text-decoration: none;
}

.NumberofApplies {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 0.8rem;
    font-size: 15px;
}

.JobDetailsSkills, .mainRequiredSkills {
    display: flex;
    margin:1.6rem 0;
}

.JobDetailsSkills h6{
    margin: 0 10px;
    text-transform: capitalize;
    background: #f9f9f9;
    padding: 8px 16px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.requiredSkills {
    margin: 1.5rem 0;
}

.requiredSkills h5{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.mainRequiredSkills h6 {
    margin: 0 10px;
    text-transform: capitalize;
    background: #f9f9f9;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #606060;
}

.salaryAvg p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.btn-Loggedin {
    padding: 10px 28px;
    font-weight: 600;
    color: #4f4f4f;
    border-radius: 10px;
    background: #0073FF;
    color: #ffffff;
    outline: none;
    border: 2px solid transparent;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.btn-Signup {
    padding: 10px 28px;
    font-weight: 600;
    color: #4f4f4f;
    border-radius: 10px;
    background: transparent;
    color: #0073FF;
    outline: none;
    border: 2px solid #0073FF;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0 1rem ;
}
.btn-Signup:hover{
    background: #0073FF;
    color: #ffffff;
    transition: all .3s ease;
}


.btn-Loggedin:hover {
    background: transparent;
    color: #0073FF;
    border: 2px solid #0073FF;
    transition: all .3s ease;
}